<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Inventory ERP{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="wrapper">

    <!-- Sidebar -->

    <div class="sidebar">

        <h3 class="logo">
            📦 Inventory ERP
        </h3>

        <a href="/dashboard">
            <i class="bi bi-speedometer2"></i>
            Dashboard
        </a>

        <a href="/view_products">
            <i class="bi bi-box-seam"></i>
            Products
        </a>

        <a href="/categories">
            <i class="bi bi-tags"></i>
            Categories
        </a>

        <a href="/suppliers">
            <i class="bi bi-truck"></i>
            Suppliers
        </a>

        <a href="/purchases">
            <i class="bi bi-cart-plus"></i>
            Purchases
        </a>

        <a href="/sales">
            <i class="bi bi-cart-check"></i>
            Sales
        </a>

        <a href="/reports">
            <i class="bi bi-bar-chart"></i>
            Reports
        </a>

        <hr>

        <a href="/logout" class="logout">
            <i class="bi bi-box-arrow-right"></i>
            Logout
        </a>

    </div>

    <!-- Main -->

    <div class="main">

        <!-- Topbar -->

        <div class="topbar">

            <h2>
                {% block page_title %}
                Dashboard
                {% endblock %}
            </h2>

            <div>

                <span class="badge bg-success fs-6">

                    Admin

                </span>

            </div>

        </div>

        <!-- Page Content -->

        <div class="content">

            {% block content %}
            {% endblock %}

        </div>

    </div>

</div>

</body>

</html>